@{
    Layout = "~/Views/Shared/Inner_master.cshtml";
    ViewBag.Title = NetPing_modern.Resources.Views.InnerPages.About.Page_title;
}

@section Head_Css {
    <link href="~/Content/Themes/reset.css" rel="stylesheet" type="text/css" /> 
    <link href="~/Content/Themes/main.css" rel="stylesheet" type="text/css" />
}


@section Content_left {
    <h1>@ViewBag.Head</h1>
  
    @Html.Raw(ViewBag.Text)
}