@using NetPing.Models
@using NetPing_modern.Resources.Views.InnerPages

@{
    Layout = "~/Views/Shared/Inner_master.cshtml";
    ViewBag.Title = Dealers.Page_title;
}

@section Head_Css {
    <link href="~/Content/Themes/reset.css" rel="stylesheet" type="text/css" /> 
    <link href="~/Content/Themes/main.css" rel="stylesheet" type="text/css" />
    <style>
        .partnyor {
            overflow: hidden;
            margin-bottom: 35px;
        }
    </style>
}

@model  IEnumerable<SiteText>

    @section Content_left {
        @foreach (dynamic grp in ViewBag.DealerGroups)
        {
            IEnumerable<SiteText> dealers_in_grp = Model.Where(i => i.Tag.Path.Contains(grp.Path));
            if (dealers_in_grp.Any())
            {
                <div class="partnyor">
                    <h1>@grp.Name</h1>
                    @foreach (SiteText item in dealers_in_grp)
                    {
                        @Html.Raw(item.Text);
                    }
                </div>
            }
        }
    }
