@{
    Layout = "~/Views/Shared/Inner_master.cshtml";
    ViewBag.Title = "Дилеры компании Netping";
}

@section Head_Css {
    <link href="~/Content/Themes/main.css" rel="stylesheet" type="text/css" />
    <style>
        .partnyor {
            overflow: hidden;
            margin-bottom: 35px;
        }
    </style>
}

@using NetPing.Models
@model  IEnumerable<NetPing.Models.SiteText>

@section Content_left {
    @foreach (dynamic grp in ViewBag.DealerGroups)
    {
        IEnumerable<SiteText> dealers_in_grp = Model.Where(i => i.Tag.Path.Contains(grp.Path));
        if (dealers_in_grp.Any())
        {
            <div class="partnyor">
                <h1>@grp.Name</h1>
                @foreach (SiteText item in dealers_in_grp)
                {
                    @Html.Raw(item.Text);
                }
            </div>
        }
    }
  
}