@using NetPing_modern.Resources.Views.InnerPages

@{
    ViewBag.Title = Question.Page_title;
    Layout = "~/Views/Shared/Inner_master.cshtml";
}

@section Head_Css {
    <link href="~/Content/Themes/reset.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Themes/main.css" rel="stylesheet" type="text/css" />
}




@section Content_left {
<p align=center>
    <iframe src='https://MyTaskHelper.ru/widgets/a9D67hS7Pkc4q-7vYZGsn3/dRkQVU7eTcG7RIfxRVCW4Q?iframe=true' marginheight='15px' marginwidth='15px' width='580px' height='510px' scrolling='no' frameborder='0'></iframe>
</p>
}

