@{
    Layout = "~/Views/Shared/Inner_master.cshtml";
    ViewBag.Title = "Cache update";
}

@section Head_Css {
    <link href="~/Content/Themes/reset.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Themes/main.css" rel="stylesheet" type="text/css" />
}

@section Head{
    <script src="~/Content/JavaScript/cacheupdate.js"></script>
}

@section Content_left {
    <div id="update-messages"></div>
    <img src="/Content/Images/preloader.gif" />
}
