@{
    Layout = "~/Views/Shared/Inner_master.cshtml";
    ViewBag.Title = "Устройство";
}

@section Head_Css {
    <link href="~/Content/Themes/reset.css" rel="stylesheet" type="text/css" /> 
    <link href="~/Content/Themes/main.css" rel="stylesheet" type="text/css" />
    
     }


@using NetPing.Models

@model Device

@section Content {
 <div class="wrapper clearfix">
        
        <div class="left main">
          <ul class="bread clearfix">
            <li><a href="#">Главная</a></li>
            <li>&gt;</li>
            <li><a href="#">Категория</a></li>
            <li>&gt;</li>
            <li class="active"><span>Товар</span></li>
          </ul>

          <div class="item">
            <div class="i-title">NetPing PWR-220 v3<span>archive</span></div>
            <div class="i-cont clearfix">

              <div class="left sub">
                <div class="gallery">
                  <div class="big-image"><img src="http://placehold.it/195x195/ffffff" alt="" title="" /><span class="search"></span></div>
                  <div class="small-images clearfix">
                    <div class="left navi prev"></div>
                    <div class="left image"><img src="http://placehold.it/48x48/ffffff" alt="" title="" /></div>
                    <div class="left image"><img src="http://placehold.it/48x48/ffffff" alt="" title="" /></div>
                    <div class="left image last"><img src="http://placehold.it/48x48/ffffff" alt="" title="" /></div>
                    <div class="left navi next"></div>
                  </div>
                </div>

                <a href="#" class="cart">2 640<span>руб.</span></a>
              </div>

              <div class="right sub">
                <div class="text">
                  <p>Устройство <strong>NetPing /PWR-220 v3</strong> предназначено для удалённого управления розетками питания 220В по сети <strong>Ethernet/Internet</strong>.</p>
                  <p><strong>NetPing /PWR-220 v3</strong> позволяет не только удалённо включать/выключать питание, но и автоматически контролировать работоспособность и перезагружать подключенное к «умной розетке» оборудование с помощью функции <strong>«Сторожа»</strong>. В режиме, «Сторож» устройство постоянно опрашивает указанные ему IP адреса и автоматически перезагрузит, подключенную нагрузку, если удаленные IP адреса не отвечают. </p>
                </div>

                <div class="seporator"></div>

                <ul class="files">
                  <li class="pdf"><a href="#">file_name.pdf</a></li>
                  <li class="pdf"><a href="#">file_type.pdf</a></li>
                  <li class="pdf"><a href="#">file_description.pdf</a></li>
                  <li class="pdf"><a href="#">file_date.pdf</a></li>
                </ul>
              </div>

            </div>
          </div>

          <div class="tabs-desc">
            <div class="tabs clearfix">
              <div class="tab active" data-tab-id="1">Specification</div>
              <div class="tab" data-tab-id="2">Downloads</div>
              <div class="tab" data-tab-id="3">FAQ</div>
              <div class="tab" data-tab-id="4">Solutions</div>
            </div>

            <div class="tabs-cont">

              <div class="tab-c shown" data-tab-id="1">
                <div class="t-title">Базовые параметры</div>
                <ul>
                  <li>Возможность: <span>Да</span></li>
                  <li>Возможность: <span>Нет</span></li>
                </ul>

                <div class="t-title">Не базовые параметры</div>
                <ul>
                  <li>Возможность: <span>Да</span></li>
                  <li>Возможность: <span>Нет</span></li>
                </ul>
              </div>

              <div class="tab-c" data-tab-id="2">
                <div class="t-title">Руководство</div>
                <ul>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                </ul>

                <div class="t-title">Пользователя</div>
                <ul>
                  <li><a href="#">Link</a> Description</li>
                  <li><a href="#">Link</a> Описание</li>
                </ul>
              </div>

              <div class="tab-c" data-tab-id="3">
                <ul>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                </ul>
              </div>

              <div class="tab-c" data-tab-id="4">
                <ul>
                  <li><a href="#">Link Link Link Link Link Link Link Link Link Link Link Link Link Link Link Link Link Link Link Link Link Link Link Link Link Link Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                </ul>
              </div>

            </div>
          </div>
        </div>

        <div class="right main">
          <div class="widget">
            <div class="w-title">К устройству подключаются:</div>
            <div class="w-cont">
              <div class="clearfix">

                <div class="left">
                  <div class="w-sub-title">Аксессуары</div>
                  <a href="#" class="item"><img src="http://placehold.it/120x70/ffffff" alt="" title="" />Название</a>
                  <a href="#" class="item"><img src="http://placehold.it/120x70/ffffff" alt="" title="" />Название в две<br>длинные строки</a>
                  <a href="#" class="item"><img src="http://placehold.it/120x70/ffffff" alt="" title="" />Название</a>
                </div>

                <div class="right dotted">
                  <div class="w-sub-title">Сенсоры</div>
                  <a href="#" class="item"><img src="http://placehold.it/120x70/ffffff" alt="" title="" />Название</a>
                  <a href="#" class="item"><img src="http://placehold.it/120x70/ffffff" alt="" title="" />Название в две<br>длинные строки</a>
                  <a href="#" class="item"><img src="http://placehold.it/120x70/ffffff" alt="" title="" />Название</a>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
}

