@{
    Layout = null;
}
@using NetPing_modern.Resources.Views.Shared
<div class="footer-container">
    <div class="footer">

        <div class="links">
            <ul>
                <li>
                    <a href="/products">Продукты</a>
                    <ul>
                        <li><a href="/products/monitoring-servernoj" class="footer_right_a">Устройства мониторинга серверных комнат</a></li>
                        <li><a href="/products/upravljaemye-rozetki-ip-pdu" class="footer_right_a">Устройства удалённого управления электропитанием</a></li>
                        <li><a href="/products/monitoring-servernoj/sensors" class="footer_right_a">Датчики для устройств Netping</a></li>
                        <li><a href="/products/monitoring-servernoj/accessories" class="footer_right_a">Аксессуары для устройств Netping</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="links">
            <ul>
                <li><a href="/solutions/monitoring-servernoj/dlja-servernyh-komnat-i-6kafov">Готовые решения для серверных комнат и шкафов</a></li>
                <li><a href="/solutions/upravljaemye-rozetki-ip-pdu/udaljonnoe-upravlenie-jelektropitaniem">Готовые решения удалённого управления электропитанием</a></li>
                <li><a href="/solutions/kommutatory-ethernet/re6enija-na-osnove-POE">Готовые решения на основе POE</a></li>
            </ul>
        </div>

        <div class="links">
            <ul>

                <li>
                    <a href="/products">Купить</a>
                    <ul>
                        <li><a href="/buy/dealers" class="footer_right_a">Наши партнёры</a></li>
                        <li><a href="#" class="footer_right_a">Как стать партнёром?</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/about">О компании</a>
                    <ul>
                        <li><a href="/contacts" class="footer_right_a">Адрес офиса и банковские реквизиты</a></li>
                        <li><a href="/Blog/Category/News" class="footer_right_a">Новости Netping</a></li>
                        <li><a href="/vacancy" class="footer_right_a">Мы ищем сотрудников!</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/support">Поддержка</a>
                    <ul>
                        <li><a href="/Blog/Category/FAQ" class="footer_right_a">Ответы на часто задаваемые вопросы</a></li>
                        <li><a href="/Blog/Category/Tutorial" class="footer_right_a">Примеры применения устройств Netping</a></li>
                        <li><a href="http://ideas.netping.ru/forums/213180-ideas" target="_blank" class="footer_right_a">Предложите новую идею для Netping!</a></li>
                    </ul>
                </li>
                <li><a href="/Blog">Наш блог</a></li>

            </ul>
        </div>




        <div class="footer_left">
            <p>@Footer.Copyright</p>
        </div>

        <div class="footer_right">
            <!--
                <ul>
            <li><a href="#" class="footer_right_a">@Footer.Privacy_policy</a></li>
            <li><a href="#" class="footer_right_a">@Footer.Terms_conditions</a></li>
                </ul>
                -->
        </div>
        <div class="clear"></div>
    </div>
</div>