@{
    Layout = null;
}

<div class="footer">
    <div class="footer_left">
        <p>Copyright © NetPing east Co Ltd. All rights reserved</p>
    </div>
    <div class="footer_right">
        <ul>
            <li><a href="#" class="footer_right_a">Privacy policy</a></li>
            <li><a href="#" class="footer_right_a">Terms & conditions</a></li>
        </ul>
    </div>
    <div class="clear"></div>    
</div>