@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/Content/Themes/korzina.css">


<div style="display: none">
    <div class="shopPopupItem" id="korizinaItemShablon">
        <p class="hiddenID"></p>
        <div class="shopItemImgContainer left">
            <img class="shopPopupItemImg" src="" alt="" />
        </div>
        <div class="shopItemC2 left">
            <p class="shopItemName"></p>
            <p class="shopItemPriceP left">Price for one item  </p>
            <p class="shopItemPrice left"></p>
            <p class="left">rub</p>
            <div>
                <p class="shopItemCountP left">Count</p>
                <input type="number" class="shopItemCountInput left" value="" />
            </div>
            <div style="clear: both">
                <p class="shopItemPriceItogoP left">Price Itogo</p>
                <p class="shopItemPriceItogo left"></p>
            </div>
            <div style="clear: both">
                <input type="button" class="removeProduct left" value="remove" />
            </div>
        </div>
    </div>
</div>

<div class="overlayKorzina"></div>
<div id="korzinaPopup">
    <div id="korinaAbout" class="k1">
        <div id="userInfo">
            <p>ФИО</p>
            <input type="text" id="FIOK"/>
            <p>Email </p>
            <input type="text" id="emailK"/>
            <p>адрес доставки</p>
            <input type="text" id="addressK"/>
            <p>реквизиты для выстваления счёта (для юр. лиц) </p>
            <input type="text" id="rekvizitiK"/>
            <p>способ доставки</p>
            <input type="radio" value="EMS почта России" name="sposobDostavki" />
            <input type="radio" value="Гарантпост" name="sposobDostavki" />
        </div>
    </div>
    <div id="korzinaItems" class="k1"></div>
    <input type="button" class="cartPopupButton" id="clearCartButton" value="Clear Cart" />
    <input type="button" class="cartPopupButton" id="backCartButton" value="Back" style="display: none;"/>
    <input type="button" class="cartPopupButton" id="continueCartButton" value="Continue" />
    <input type="button" class="cartPopupButton" id="sendDataCartButton" value="Send Email" style="display: none;" />
</div>

<script src="~/Content/JavaScript/jquery.cookies.2.2.0.min.js" type="text/javascript"> </script>
<script src="~/Content/JavaScript/korzina.js" type="text/javascript"> </script>
