@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/Content/Themes/korzina.css">

<div>
    <div class="shopPopupItem">
        <img class="shopPopupItemImg" src="" alt="" />
        <p class="shopItemName"></p>
        <p class="shopItemPriceP">Price for one item</p>
        <p class="shopItemPrice"></p>
        <p class="shopItemCountP">Count</p>
        <input type="number" class="shopItemCountInput" />
        <p class="shopItemPriceItogoP">Price </p>
        <p class="shopItemPriceItogo"></p>
    </div>
</div>

<div class="overlayKorzina"></div>
<div class="popupK" id="korzinaPopup"></div>

<script src="~/Content/JavaScript/jquery.cookies.2.2.0.min.js" type="text/javascript"> </script>
<script src="~/Content/JavaScript/korzina.js" type="text/javascript"> </script>
