@-ms-viewport {
  width: auto !important;
}

body{
    min-width: 800px;
}

h1, h2 {
    color: #144e5a;
}

h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

    h1:first-child {
        margin-top: 0;
    }

h2 {
    margin: 15px 0;
    font-size: 20px;
}

.panel {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-heading {
    background: #e5f8e4;
    padding: 6px 10px;
}

    .panel-heading .panel-title {
        color: #144e5a;
        font-size: 22px;
    }

.panel-icon:before {
    content: "";
    width: 24px;
    height: 24px;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 6px 0 0;
}

.panel-icon.panel-doc-icon:before {
    background-image: url('../Images/icons/doc-panel.png');
}

.panel-icon.panel-popular-icon:before {
    background-image: url('../Images/icons/popular.png');
}

.panel-icon.panel-new-icon:before {
    background-image: url('../Images/icons/new.png');
}

.panel-icon.panel-inwork-icon:before {
    background-image: url('../Images/icons/inwork.png');
}

.panel-body {
    padding: 15px 0;
}

hr {
    border-color: #a9ccae;
}

a {
    font-size: 12px;
    color: #208e34;
}

    a:hover {
        color: #000;
        text-decoration: none;
    }

.panel a.rss-feed {
    margin: 0;
    background-image: url('../Images/content_news_latest_rrs.png');
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: bottom;
    background-size: contain;
    float: right;
}

.panel a {
    font-size: 16px;
    color: #000;
    display: block;
    text-decoration: underline;
    margin: 10px 0;
}

.panel.devices .device-image {
    display: block;
    text-align: center;
}

.panel.devices p {
    font-size: 14px;
}

    .panel.devices p a {
        font-size: 14px;
        margin: 0;
        color: #4ab27d;
    }

        .panel.devices p a:hover {
            color: #000;
        }

.panel.devices .price {
    font-size: 14px;
}

    .panel.devices .price span {
        font-size: 22px;
        color: #eb6e0e;
    }

.breadcrumbs {
    margin: 6px 0 50px 0;
}

    .breadcrumbs .root {
        color: #000;
        text-decoration: none;
        margin-right: 10px;
    }

    .breadcrumbs .node {
        color: #000;
        text-decoration: underline;
        margin: 0 10px;
        font-weight: 700;
    }

    .breadcrumbs .page {
        margin-left: 10px;
    }
