body {
    background: url(../Images/background.png) repeat-x;
}

.page {
    width: 100%;
}

    .page .main {
        width: auto;
    }

        .page .main .header {
            width: 835px;
            margin: 0 auto;
        }

        .page .main .content .content_left {
            width: 75%;
        }

        .page .main .content .content_right {
            width: 25%;
            margin-left: 0;
            padding-left: 33px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

.header {
    padding-left: 0;
    width: 800px;
    margin: 0 auto;
}

    .header ul li ul {
        top: 36px;
    }

    .header .logo {
        background: none;
        width: 325px;
        height: 86px;
        margin-left: 0;
    }

        .header .logo img {
            margin-left: 10px;
            margin-top: 2px;
        }

    .header .nav {
        margin-top: 20px;
    }

    .header .nav_element {
        margin-top: 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    .header .header_contacts {
        padding: 15px 10px;
        font-size: 14px;
    }

    .header .header_contacts_item:first-child {
        margin-right: 15px;
    }

    .header .cart {
        margin: 20px 10px 0px 0px;
        font-size: 14px;
        padding-left: 35px;
        background: url('../Images/cart.png') no-repeat no-repeat left;
    }



hr {
    border: none;
    border-top: 1px solid #000;
}

p + p {
    margin-top: 1em;
}

.page .main .content {
}

.blog-item {
}


    .blog-item .more {
        float: right;
    }

    .blog-item a:hover {
        cursor: pointer;
    }

    .blog-item h1, .comment-form h1, .comments h1 {
        font-size: 20px;
        color: #144e5a;
        font-weight: 400;
        margin: 20px 0;
    }

        .blog-item h1 a {
            color: #144e5a;
        }

            .blog-item h1 a:link,
            .blog-item h1 a:hover,
            .blog-item h1 a:focus {
                color: #144e5a;
            }

.comments h1 {
    padding-left: 70px;
    line-height: 57px;
    background: url('../Images/BlogImg/comments.png') no-repeat no-repeat left center;
}

.comments hr {
    margin-bottom: 25px;
}

.comment {
    margin: 20px 0;
}

.blog-item p {
    color: #000;
}


.blog-item a:hover h1 {
    color: #f6635e;
    text-decoration: underline;
}

.blog-item a:hover p {
    text-decoration: underline;
}


.page .main .content .blog-item img {
    float: left;
    max-width: 150px;
    margin-right: 20px;
}

.page .main .content .blog-item img.confluence-embedded-image {
    float: none;
    width: 100%;
    max-width:500px;
    cursor: url(http://wwww.netping.ru/Content/Images/magnify.cur),url('../Images/magnify.cur'),zoom-in !important;
}

.page .main .content .blog-item .img-preview img.confluence-embedded-image {
    width: auto;
    max-width: 400px;
}

.blog-item hr {
    margin: 20px 0;
}

.blog-item .img-preview {
    float: left;
}

.blog-item .img-preview img.confluence-embedded-image {
    margin: 0;
    padding: 0;
}

/*cancel reset.css settings to show confluence content*/

.blog-item, .blog-item ul, .blog-item p {
    padding-left: 40px;
    margin-bottom: 14px;
    margin-top: 14px;
}

.blog-item a {
    text-decoration: underline;
}

.blog-item ul,  .blog-item ul li {
    list-style-type: disc;
}

.blog-item ol,  .blog-item ol li {
    list-style-type: decimal;
}

/*cancel reset.css settings*/

.blog-item table{
    border-collapse: collapse;

}

.blog-item td{
  border-bottom: 1px solid #ccc;
  padding: 4px 4px;
  vertical-align: top;
}

.blog-item td p{
    padding:0;
    margin: 0;
}

.blog-item-header {
}

    .blog-item-header .category-label {
        display: inline-block;
        width: 150px;
        text-align: center;
        line-height: 20px;
        font-weight: 700;
        background: #144e5a;
        font-size: 10px;
        color: #a5d49e;
    }

    .blog-item-header span {
        font-size: 11px;
        color: #000;
        line-height: 20px;
    }

        .blog-item-header span:before {
            content: '';
            background: url('../Images/calendar.png') no-repeat no-repeat;
            width: 19px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px 0 15px;
        }


.tags {
    margin-top: 10px;
}

.tag {
    -moz-box-shadow: inset 1px 2px 0px 0px #9eaca1;
    -webkit-box-shadow: inset 1px 2px 0px 0px #9eaca1;
    box-shadow: inset 1px 2px 0px 0px #9eaca1;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #62ae78), color-stop(1, #abe4b7) );
    background: -moz-linear-gradient( center top, #62ae78 5%, #abe4b7 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62ae78', endColorstr='#abe4b7');
    background-color: #62ae78;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-left-radius: 15px;
    text-indent: 0;
    display: inline-block;
    color: #144e5a;
    padding: 0 10px 0 20px;
    line-height: 20px;
    text-decoration: none;
    text-align: left;
    text-shadow: 1px 1px 1px #ffffff;
    font-size: 10px;
    cursor: pointer;
    margin: 2px 2px 2px;
}

    .tag.active {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa9b97), color-stop(1, #ee2d2a) );
        background: -moz-linear-gradient( center top, #fa9b97 5%, #ee2d2a 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa9b97', endColorstr='#ee2d2a');
        background-color: #fa9b97;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .tag:before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        float: left;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-color: #fff;
        margin-left: -12px;
        margin-right: 6px;
        margin-top: 7px;
        -webkit-box-shadow: 1px 1px 0 0 rgba(0,0,0,0.2);
        box-shadow: 1px 1px 0 0 rgba(0,0,0,0.2);
        vertical-align: middle;
    }


    .tag:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #abe4b7), color-stop(1, #62ae78) );
        background: -moz-linear-gradient( center top, #abe4b7 5%, #62ae78 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#abe4b7', endColorstr='#62ae78');
        background-color: #abe4b7;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

        .tag:hover:before {
            -webkit-box-shadow: inset -1px 1px 0 0 rgba(0,0,0,0.2);
            box-shadow: inset -1px 1px 0 0 rgba(0,0,0,0.2);
        }

    .tag:active {
        position: relative;
        top: 1px;
    }

.article-search {
}

    .article-search input[type="text"] {
        width: 100%;
        font-style: italic;
        padding: 8px 30px 8px 8px;
        border: none;
        float: left;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .article-search input[type="submit"] {
        float: left;
        width: 31px;
        height: 31px;
        margin-left: -32px;
        background: url('../Images/BlogImg/search.png') no-repeat no-repeat center center;
        border: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        cursor: pointer;
    }


.related h2, .related h3 {
    color: #144e5a;
    font-size: 15px;
}

.related h2 {
    background: url('../Images/BlogImg/related.png') no-repeat no-repeat left;
    padding-left: 60px;
    line-height: 30px;
    margin: 30px 0px 10px;
    display: inline-block;
}

.related .rss-feed {
    background: url('../Images/BlogImg/rss.png') no-repeat no-repeat left;
    display: inline-block;
    height: 31px;
    width: 31px;
    vertical-align: middle;
    margin-left: 5px;
}

.related-item {
    margin: 15px 0px;
    display: block;
}

    .related-item p {
        color: #040703;
        text-decoration: underline;
        font-size: 15px;
    }

.categories {
    margin: 20px 0px 20px;
}

    .categories ul li a {
        display: block;
        border-bottom: 1px solid #fff;
        color: #a5d49e;
        background-color: #144e5a;
        font-weight: 700;
        padding: 8px 20px;
        font-size: 13px;
    }

        .categories ul li a.active {
            background-color: #218196;
        }

        .categories ul li a.active, .categories ul li a:hover {
            color: #144e5a;
            background-color: #63c87e;
        }

    .categories > a, .all-tags > span {
        cursor: pointer;
        text-decoration: underline;
        display: block;
        text-align: right;
        font-style: italic;
        font-size: 14px;
        color: #f6635e;
        margin: 5px 0px;
    }

.content .content_left .bread {
    list-style: none;
    padding: 26px 0 34px;
}

    .content .content_left .bread li {
        color: #a7a7a7;
        float: left;
        font: 700 12px sans-serif;
        /*font: 700 12px 'Corbel', sans-serif;*/
        margin: 0 5px 0 0;
    }

        .content .content_left .bread li.active span {
            color: #3ca03d;
        }

        .content .content_left .bread li a {
            color: #2f2f2f;
        }

            .content .content_left .bread li a:hover {
                text-decoration: none;
            }


.all-tags h2 {
    background: url('../Images/BlogImg/tags.png') no-repeat no-repeat left;
    color: #144e5a;
    font-size: 24px;
    padding-left: 55px;
    font-weight: 400;
    line-height: 50px;
}

.all-tags hr {
    margin-bottom: 10px;
}

.new-devices {
    margin-top: 15px;
}

.comment-form form {
}

    .comment-form form input[type="text"], .comment-form form textarea {
        padding: 8px 10px;
        font-style: italic;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .comment-form form input[type="text"] {
        width: 250px;
    }

        .comment-form form input[type="text"] + input[type="text"] {
            margin-left: 20px;
        }

    .comment-form form textarea {
        display: block;
        resize: none;
        margin-top: 20px;
        width: 100%;
        height: 100px;
        font-family: Arial;
    }

    .comment-form form input[type="submit"] {
        background-color: #144e5a;
        color: #a5d49e;
        line-height: 30px;
        border: none;
        padding: 0px 60px;
        float: right;
        margin-top: 20px;
    }

        .comment-form form input[type="submit"]:hover {
            color: #144e5a;
            background-color: #63c87e;
            cursor: pointer;
        }

.comment h3 {
    color: #144e5a;
    margin-bottom: 0px !important;
    font-size: 14px;
}

.comment .date {
    font-size: 12px;
}

.comment p {
    margin-top: 0.5em;
}

#datepicker {
    margin: 30px 0;
}

.header-wrapper {
}

.logo img {
    position: relative;
    vertical-align: bottom;
}

.logo:after {
    content: "blog";
    color: #eb635f;
    font-size: 56px;
    position: relative;
    margin-left: 10px;
}

.blog-item blockquote {
    border-left: 1px solid #ccc;
    margin-left: 19px;
    padding: 10px 20px;
    margin-bottom: 1em;
}

    .blog-item blockquote p {
        color: #707070;
    }

.confluence-information-macro-information {
    background-color: #fcfcfc;
    border-color: #aab8c6;
}

.confluence-information-macro {
    background: #fcfcfc;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #333;
    margin: 10px 0 1em 0;
    min-height: 20px;
    padding: 10px 10px 10px 36px;
    position: relative;
}

    .confluence-information-macro .confluence-information-macro-icon.aui-iconfont-info {
        color: #4a6785;
    }

    .confluence-information-macro .confluence-information-macro-icon {
        display: block;
        left: 10px;
        line-height: 20px;
        position: absolute;
        top: 12px;
        vertical-align: text-bottom;
    }

.aui-icon-small:before, .aui-icon-large:before {
    color: inherit;
    font-family: "Atlassian Icons";
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    left: 0;
    line-height: 1;
    position: absolute;
    text-indent: 0;
    speak: none;
    top: 50%;
}

.aui-iconfont-info:before {
    content: "";
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAABdAAAAXQFVYC6UAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAADZQTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARy+jrgAAABF0Uk5TAAETJmhwf4CZqbO1uMvm9vijE9g4AAAAaUlEQVQYV2WPQRKAIAwDlyICVaD9/2c9COM49LiTpAkAMWvvmiPvhTSsldJspAAQLq8CINWvACQ/ppTDE8RRAe4boI5INvmA2Im2ZQBoSi98CkpfwH2BaZmg6Qp9gdi5v92K7dW3cfznP4HcBMFfyXbEAAAAAElFTkSuQmCCdeb1e414e7ef4bd29aee7534da4bc60a");
    width: 16px;
    height: 16px;
}

@media screen and (min-width: 836px) {
    .page .main .under-menu, .menu-button {
        display: none;
    }
}

@media screen and (max-width: 835px) {
    body {
        min-width: 670px;
    }

    .page {
        overflow: hidden;
    }

        .page .main .content .content_right, .page .main .header .nav, .cart_text {
            display: none;
        }

        .page .main .content .content_left {
            width: 100%;
        }

    .header .logo {
        width: 100%;
    }

    .header .cart {
        padding-right: 10px;
    }

    .under-menu {
        display: table;
        width: 100%;
        margin-bottom: 15px;
    }

        .under-menu a {
            text-align: center;
            width: 25%;
            padding: 4px 10px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #bdeec6;
            background: #144e5a;
            vertical-align: middle;
            height: 50px;
            color: #fff;
            display: table-cell;
        }

            .under-menu a:hover {
                background: #63c87e;
            }

    .page .main .header {
        width: 100%;
        padding-left: 0;
    }

    .header .nav_element {
        margin-top: 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    .header .header_contacts {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .header .header_contacts_item:first-child {
        margin-right: 10px;
    }

    .header_contacts_item {
        margin-bottom: 20px;
    }

    .page .main .footer_left {
        width: auto;
    }

    .menu-button {
        display: inline-block;
        position: relative;
    }
}
