@charset "utf-8";
/* CSS Document */

body {
    background: url(../Images/background.png) repeat-x;
    font: 14px sans-serif;
}

/* слегка доработанный, универсальный clearfix хак */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* close commented backslash hack */

.header {
    padding-left: 0;
    width: 800px;
    margin: 0 auto;
}

    .header ul li ul {
        top: 36px;
    }

    .header .logo {
        background: none;
        width: 200px;
        height: 86px;
        margin-left: 0;
    }

        .header .logo img {
            margin-left: 10px;
            margin-top: 2px;
        }

    .header .nav {
        margin-top: 10px;
    }

    .header .nav_element {
        margin-top: 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    .header .header_contacts {
        padding: 20px 10px;
        font-size: 14px;
    }

    .header .header_contacts_item:first-child {
        margin-right: 15px;
    }

    .header .cart {
        margin: 25px 10px 0px 0px;
        font-size: 14px;
        padding-left: 35px;
        background: url('../Images/cart.png') no-repeat no-repeat left;
    }

#wrapper1 {
    margin-right: 20px;
}

.page {
    /*float: left;*/
    max-width: 1280px;
    min-width: 800px;
    margin: 0px auto;
}

    /*content*/
    .page .main .content {
        margin-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #fff;
    }

        .page .main .content a {
            /*color: #4ab27d;*/
        }

    .page .main .title {
        text-align: center;
        color: #fff;
        background-color: #eb6e0e;
        padding: 8px 0;
        margin: 8px -10px;
    }

        .page .main .title h1 {
            margin-top: 8px;
            font-size: 30px;
        }

    .page .main .steps {
        margin-bottom: 8px;
        background-color: #bddfc1;
        margin: 0 -10px;
    }

        .page .main .steps li {
            float: left;
            width: 33.3333%;
            text-align: center;
            font-size: 18px;
            padding: 14px 0 8px 0;
            position: relative;
            height: 44px;
            box-sizing: border-box;
        }

            .page .main .steps li:nth-child(1) {
                text-align: right;
                color: #144e5a;
                padding-right: 30px;
            }

                .page .main .steps li:nth-child(1):after {
                    content: "";
                    background: url("../Images/check.png");
                    display: inline-block;
                    height: 16px;
                    width: 19px;
                    margin-left: 15px;
                    vertical-align: middle;
                }

            .page .main .steps li:nth-child(2) {
                background-color: #208e35;
                color: #fff;
            }

                .page .main .steps li:nth-child(2):before {
                    content: "";
                    background: url("../Images/step2_left.png");
                    width: 38px;
                    height: 44px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .page .main .steps li:nth-child(2):after {
                    content: "";
                    background: url("../Images/step2_right.png");
                    width: 38px;
                    height: 44px;
                    position: absolute;
                    top: 0;
                    right: 0;
                }

            .page .main .steps li:nth-child(3) {
                text-align: left;
                color: #9a9a9a;
                padding-left: 40px;
            }

.smalImageSize {
    width: 48px;
    height: 48px;
}

#searchIcon {
    background: url(../Images/item_big_zoom.png) no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: absolute;
    right: 4px;
    top: 170px;
    width: 20px;
    z-index: 3;
}

/* popup */
.overlay {
    background: #000;
    bottom: 0;
    display: none;
    filter: alpha(opacity=50);
    left: 0;
    -ms-opacity: 0.5;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

.popupImage {
    height: 450px;
    width: 450px;
}

.popup, .popup * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#popup1 {
    background: #fff;
    border: 1px solid #999;
    display: none;
    height: 500px;
    left: 50%;
    margin: -250px 0 0 -250px;
    padding: 30px;
    position: fixed;
    top: 50%;
    width: 500px;
    z-index: 10000;
}

.close {
    background: url(../Images/ProductPageImg/closeIcon.png);
    background-size: cover;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 10px;
    text-align: center;
    text-decoration: none;
    top: 10px;
    width: 24px;
}
/*--end popup--*/

.content .item .seporator {
    background: url(../Images/ProductPageImg/item_text_seporator.png) no-repeat;
    height: 2px;
}


.content .item .cart {
    background: #208e34;
    color: #fefefe;
    display: block;
    font-size: 30px;
    font-weight: 700;
    line-height: 52px;
    max-height: 50px;
    padding: 0 4px 0 4px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin-top: 24px;
}

    .content .item .cart span {
        font-size: 24px;
        font-weight: 400;
        margin: 0 0 0 6px;
    }

    .content .item .cart:hover {
        opacity: 0.8;
        color: #bddfc1;
    }

    .content .item .cart:active {
        opacity: 0.7;
        color: #bddfc1;
    }

.page .main .preorder-invite {
    font-size: 16px;
    line-height: 2em;
    background: #144e5a;
    margin: 20px -10px 0;
    padding: 20px 15px;
    color: #fff;
}

.page .main .preorder {
    background: #e5f8e4;
    margin: 0 -10px 20px;
    padding: 15px 0;
}

    .page .main .preorder .preorder-text {
        margin: 0 20px 0 50px;
        color: #144e5a;
        float: left;
        font-size: 16px;
        width: 40%;
        font-weight: 700;
    }

        .page .main .preorder .preorder-text span {
            color: #eb6e0e;
            font-weight: 700;
        }


    .page .main .preorder .preorder-form {
        background: #eb6e0e;
        color: #fff;
        float: left;
        width: 378px;
        text-align: center;
        padding: 8px 0 0 0;
        font-size: 14px;
    }

        .page .main .preorder .preorder-form form {
            width: 100%;
            margin: 8px 0 0;
            padding: 0 5px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

            .page .main .preorder .preorder-form form input[type="text"], .page .main .preorder .preorder-form form input[type="email"] {
                width: 100%;
                margin: 0 0 5px 0;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                font-size: 12px;
                padding: 6px 10px;
                border: none;
            }

        .page .main .preorder .preorder-form .preorder-email {
            position: relative;
        }

        .page .main .preorder .preorder-form .subscribe_image {
            vertical-align: middle;
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -11px;
        }

    .page .main .preorder .preorder-text .preorder-price {
        text-align: center;
        margin: 12px 0;
        font-weight: 700;
    }

        .page .main .preorder .preorder-text .preorder-price div {
            vertical-align: middle;
            display: inline-block;
        }


    .page .main .preorder .preorder-text .preorder-price-old {
        font-size: 36px;
        text-decoration: line-through;
    }

    .page .main .preorder .preorder-text .preorder-price-new {
        text-decoration: none;
        font-size: 30px;
        color: #eb6e0e;
        margin-left: 15px;
    }

    .page .main .preorder .preorder-text .preorder-only-for {
        text-align: center;
        font-size: 14px;
        color: #000;
        font-style: italic;
        font-weight: 700;
    }


.content .tabs-desc {
    margin: 30px -10px 0;
}

    .content .tabs-desc .tabs {
        background: #144e5a;
    }

    .content .tabs-desc .tab {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background: #144e5a;
        border-left: 1px solid #43717b;
        box-sizing: border-box;
        color: #a5d49e;
        cursor: pointer;
        float: left;
        font-weight: 700;
        line-height: 39px;
        text-align: center;
        width: 150px;
    }

        .content .tabs-desc .tab:last-child {
            border-right: 1px solid #43717b;
        }


        .content .tabs-desc .tab:hover {
            color: #73bf68;
            text-decoration: underline;
        }

        .content .tabs-desc .tab:active {
            color: #3ca03d;
        }

        .content .tabs-desc .tab.active {
            background: #bddfc1;
            border: none;
            color: #144e5a;
            cursor: default;
            font-size: 17px;
            margin: -5px 0 0;
            padding: 5px 0 0;
            text-decoration: none;
        }

    .content .tabs-desc .tab-c {
        border: 3px solid #bddfc1;
        border-top: 2px solid #bddfc1;
        display: none;
        padding: 23px 9px 0;
    }

        .content .tabs-desc .tab-c .t-title {
            background: url(../Images/ProductPageImg/tabs_title_bg.png) repeat-y;
            color: #144e5a;
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            margin: 0 0 12px;
            padding: 0 11px;
        }

        .content .tabs-desc .tab-c p {
            margin-bottom: 10px;
        }

        .content .tabs-desc .tab-c ul {
            list-style: none;
            padding: 0 0 16px;
        }

            .content .tabs-desc .tab-c ul li {
                background: url(../Images/ProductPageImg/tabs_li_arrow.png) 11px 8px no-repeat;
                color: #2f2f2f;
                line-height: 25px;
                padding: 0 0 0 24px;
            }

                .content .tabs-desc .tab-c ul li span {
                    color: #f37021;
                    font-weight: 700;
                }

        .content .tabs-desc .tab-c.longdescription ul li span {
            color: inherit;
        }

        .content .tabs-desc .tab-c ul li a {
            color: #144e5a;
        }

            .content .tabs-desc .tab-c ul li a:hover {
                text-decoration: none;
            }

        .content .tabs-desc .tab-c.shown {
            display: block;
        }

        .content .tabs-desc .tab-c.longdescription h2 {
            margin: 10px 0;
        }

.content .comments-invite {
    background: #e5f8e4;
    margin: 30px -10px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
}

.page .main .footer, .page .main .footer_left {
    position: relative;
    z-index: 15;
    height: 88px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page .main .footer-container:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 88px;
    left: 0;
    background: url("../Images/footer_bg.png") no-repeat no-repeat center center;
    z-index: 10;
}
