
.page {
    max-width: 1280px;
    min-width: 800px;
    margin: 0px auto;
}


.header {
    padding-left: 0;
    margin: 0 auto;
    width: 100%;
}

.header ul li ul {
    top: 36px;
}

.header .logo {
    background: none;
    width: 460px;
    height: 55px;
    margin-left: 0;
}

.header .logo img {
    margin-left: 10px;
    margin-top: 2px;
    border: 0px;
}

.header .logo p {
    font-family: "HelveticaNeueCyr";
    font-size: 12px;
    color: #2f2f2f;
    width: 250px;
    height: 25px;
    display: block;
    margin-top: -43px;
    margin-left: 204px;
}

.header_top {
    height: 56px;
    background-color: #94ebab;
}

.header_bottom {
    background-color: #e6f8e5;
}

.header .header_top {
    display:flex;
    display: -ms-flexbox;
    justify-content: space-between;
    -ms-flex-pack: justify;
    align-items: center;
    -ms-flex-align: center;
    margin-left: auto;
    max-width: 97%;
    min-width: 750px;
}

.header .header_contacts_item {
    font-size: 14px;
}

.header .header_bottom {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    -ms-flex-align: center;
}

.header_bottom .inline-flex {
    justify-content: center;
    -ms-flex-pack: center;
    display: -ms-flexbox;
}

.header_background {
    margin-bottom: -181px;
}

.header_background .header_top {
    
}

.header_background .header_bottom {

}

.header .nav_element {
    margin-top: 0;
    padding-left: 16px;
    padding-right: 16px;
}

.header .header_contacts {
    padding: 20px 10px;
    font-size: 14px;
    width: 78%;
}

.header .header_contacts_item:first-child {
    margin-right: 15px;
}

.header .cart {
    margin: 25px 13px 0px 0px;
    font-size: 14px;
    padding-left: 35px;
    background: url('../Images/cart.png') no-repeat no-repeat left;
}

.header ul li ul {
position: absolute;
top: 36px;
left: 0;
z-index: 25;
display: none;
list-style: circle;
background: #e3e7e2;
border: 1px solid #d8d8d8;
}

.header .nav_element {
background-color: #144e5a;
color: #a5d49e;
float: left;
font-size: 14px;
line-height: 37px;
margin-top: 0;
padding-left: 16px;
padding-right: 16px;
}

.header .header_contacts_item:first-child {
margin-right: 15px;
}

.header .cart {
margin: 25px 10px 0px 0px;
font-size: 14px;
padding-left: 35px;
background: url('../Images/cart.png') no-repeat no-repeat left;
/*float: right;*/
color: #000;
}

.header a {
color: inherit;
}

.header .language {
color: #144e5a;
float: left;
font-size: 14px;
font-weight: bold;
margin-left: 25px;
padding-top: 13px;
text-decoration: underline;
}

.header .language_active {
color: #3ca03d;
float: left;
font-size: 14px;
font-weight: bold;
margin-left: 25px;
padding-top: 13px;
}

.menu-button {
    display: none;
}

.header .nav_element.active {
}

.header .nav .nav_element_border {
    background-color: transparent;
    background-image: url(../Images/nav_element_border.png);
    display: inline;
    float: left;
    margin-top: 20px;
    width: 1px;
}



.header .header_contacts_title {
    display: inline-block;
    color: #f6635e;
    vertical-align: middle;
    font-weight: 700;
}

.header .header_contacts_content {
    color: #000;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    font-weight: 700;
}

.header .header_content_border {
    display: inline-block;
    vertical-align: middle;
    background: url('../Images/header_content_border.png') no-repeat no-repeat;
    width: 2px;
    height: 25px;
}

.header .header_contacts_content span {
    color: #246264;
    margin-right: 5px;
}



.header .cart_text {
    text-decoration: underline;
}

.header .cart_count {
    color: #f6635e;
    text-decoration: none;
    margin-left: 8px;
    font-size: 18px;
    font-weight: 700;
}

/*footer*/

.page .main .footer-container {
    background-color: #1c4947;
}

.page .main .footer_left {
    background-image: url(../Images/footer_left.png);
    background-repeat: no-repeat;
    float: left;
    padding-bottom: 57px;
    padding-top: 17px;
    width: 590px;
}

    .page .main .footer_left p {
        color: #ffffff;
        margin-left: 43px;
    }

.page .main .footer_right {
    padding-top: 17px;
    float: left;
    margin-left: 100px;
}

.page .main .footer_right_a {
    color: #FFF;
    text-decoration: underline;
}

/*end footer*/

.page .main {
    font-family: 'Helvetica';
}

.header ul {
    list-style: none;
    background: #144e5a;
}

    .header ul li {
        float: left;
        text-align: center;
        position: relative;
        background: url(../Images/ProductPageImg/header_li_sep.png) right center no-repeat;
    }

        .header ul li:last-of-type {
            background: none;
        }

        .header ul li a {
            text-decoration: none;
            /*text-transform: uppercase;*/
            font: 700 14px/9px 'Corbel', sans-serif;
            color: #a5d49e;
        }

            .header ul li a:hover {
                color: #73bf68;
            }

            .header ul li a:active,
            .header ul li.active a,
            .header ul li.active a:hover {
                color: #3ca03d;
            }



.header li:hover ul {
    display: block;
}

.header ul li ul li,
.header ul li ul li:last-of-type {
    float: none;
    background: url(../Images/ProductPageImg/submenu_circle.png) 7px center no-repeat;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    padding: 7px 20px;
}

.header ul li ul li a {
    display: inline-block;
    text-decoration: underline;
    text-transform: none;
    color: #2f2f2f;
    padding: 0;
}

.header ul li ul li a:hover {
    text-decoration: none;
    color: #2f2f2f;
}

.header ul li ul li a:active {
    text-decoration: none;
    opacity: 0.8;
    color: #2f2f2f;
}

.page .main .footer, .page .main .footer_left {
    position: relative;
    z-index: 15;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
}

.page .main .footer-container {
    position: absolute;
    left: 0;
    width: 100%;
    background:;
}



.page .main .footer .links {
    float: left;
    width: 33.3333%;
    margin: 15px 0;
}

.page .main .footer .links ul {
    margin: 0 15px;
    font-size: 14px;
    font-weight: 700;
}

.page .main .footer .links li {
    margin: 4px 0;
}

.page .main .footer .links ul li ul {
    font-size: 14px;
    font-weight: 400;
}

.page .main .footer .links ul a {
    color: #fff;
    text-decoration: none;
}

    .page .main .footer .links ul a:hover {
        color: #fff;
        text-decoration: underline;
    }

/*search*/


.page .search .search_text {
    font-size: 12px;
    width: 235px;
    height: 35px;
    border: 1px solid #dadada;
    background-color: #ffffff;
}

.page .search .search_text_vvod {
    border: none;
    color: #000 !important;
    outline: none;
    width: 201px;
    margin-left: 10px;
}

.page .search .search_img {
    margin-top: 10px;
    vertical-align: bottom;
}

/*end search*/

.inline-flex {
    display: inline-flex;
}

.inline-flex .search {
    margin-left: 50px;
}

@media (max-width: 1280px) {
    .header_bottom {
        height: 125px;
        -ms-flex-wrap: wrap;
        -ms-flex-pack: center;
    }

    .header_bottom .inline-flex {
        width: 100%;
    }
}

@media (min-width: 1280px) {
    .header_bottom {
        height: 78px;
        -ms-flex-wrap: nowrap;
        -ms-flex-pack: justify;
    }

    .header_background {
        margin-bottom: -134px;
    }

    .header_bottom .inline-flex {
        width: initial;
    }
}