@charset "utf-8";
/* CSS Document */


.page {
    /*float: left;*/
    max-width: 1280px;
    min-width: 800px;
    margin: 0px auto;
}

.page .main {
/*font-family:Corbel;*/
/*background: url(../Images/backround_main.png) no-repeat #5AC477;*/
}

/*present*/
.page .main .present {
    display: block;
    position: relative;
    font-size: 14px;
    color: #2f2f2f;
    padding-left: 0px;
    padding-top: 0px;
    float: left;
    margin-top: 17px;
    margin-left: 15px;
    width: 635px;
}

    .page .main .present .present_img {
        width: 635px;
        height: 461px;
        position: absolute;
        border: none;
    }

.page .main .present_fluid {
    float: left;
    width: 100%;
    margin-left: -666px; /* The size of the fixed block. */
}

.page .main .present_fluid_inner {
    margin-left: 730px;
}

.page .main .present_left {
    color: #2f2f2f;
    display: block;
    float: left;
    position: relative;
    width: 100%;
    height: 140px;
    background-image: url(../Images/present_left.png);
    background-repeat: no-repeat;
    background-position: left center;
    margin-top: 20px;
    min-width: 135px;
}

    .page .main .present_left:hover {
        background: url(../Images/present_left_hover.png) no-repeat;
    }

.page .main .present_left_image {
    width: 56px;
    height: 56px;
    margin: 8px 8px 0 8px;
    float: left;
}

.page .main .present_left_image1 {
    background-image: url(../Images/present_left_img1.png);
}

.page .main .present_left_image2 {
    background-image: url(../Images/present_left_img2.png);
}

.page .main .present_left_image3 {
    background-image: url(../Images/present_left_img3.png);
}

.page .main .present_left_h2 {
    margin-top: 19px;
    text-shadow: 0 1px 0px #FFF;
    margin-left: 80px;
    font-size: 15px;
}

.page .main .present_left_p {
    line-height: 15px;
    margin: 0 15px 0 8px;
    font-size: 14px;
}

.page .main .present_left_s {
    color: #144e5a;
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
    position: absolute;
    right: 15px;
    font-weight: 700;
    bottom: 10px;
}
/*end present*/
/*content*/
.page .main .content {
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.page .main .content a {
    color: #4ab27d;
}

.page .main .content .content_sales {
    float: left;
    width: 44%;
    margin-left: 5%;
}

.page .main .content .content_best_sales, .page .main .content .content_best_inwork {
    background-image: url(../Images/best_sales.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 25px;
    background-color: #e5f8e4;
    color: #144e5a;
    font-size: 24px;
    padding-left: 57px;
    line-height: 35px;
}

.page .main .content .content_best_inwork {
    background-image: url(../Images/inwork.png);
    margin-top: 60px;
}

    .page .main .content .content_best_sales span, .page .main .content .content_best_inwork span {
        padding-top: 10px;
    }

.page .main .content .content_best_sales_border {
    margin-top: 10px;
    border-bottom: 1px solid #000;
}

.page .main .content .content_best_sales_description {
    /*height: 129px;*/
    margin-top: 20px;
    background-image: url(../Images/content_description.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 160px;
}

.page .main .content .content_best_sales_description_a {
    font-size: 18px;
    color: #2f2f2f;
    text-decoration: underline;
}

.page .main .content .content_best_sales_description_p {
    margin-top: 10px;
    font-size: 14px;
    color: #2f2f2f;
}

.page .main .content .content_best_sales_description_see {
    color: #144e5a;
    text-decoration: underline;
    font-size: 18px;
    font-style: italic;
    margin-left: 453px;
}

.page .main .content .content_best_sales_description .price {
    color: #eb6e0e;
    font-size: 22px;
}

.page .main .content .content_news {
    float: left;
    width: 51%;
}

.page .main .content .content_news_header {
    background-color: #e5f8e4;
}

.page .main .content .content_news_latest {
    float: left;
    background-image: url(../Images/content_news.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 25px;
    color: #144e5a;
    font-size: 22px;
    padding-left: 57px;
    line-height: 35px;
}

.page .main .content .content_news_latest_rrs {
    background-image: url(../Images/content_news_latest_rrs.png);
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    display: block;
    height: 35px;
    width: 35px;
}

.page .main .content .content_news_latest_border {
    margin-top: 10px;
    border-bottom: 1px solid #000;
}

.page .main .content .content_news_latest_date {
    margin-top: 20px;
}

.page .main .content .content_news_latest_date_span {
    display: block;
    color: #144e5a;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: bold;
}

.page .main .content .content_news_latest_date_a {
    display: block;
    color: #2f2f2f;
    font-size: 16px;
    text-decoration: underline;
}

.page .main .content .content_news_latest_date .content_news_latest_date_span:after {
    color: #fff;
    margin-left: 15px;
    font-weight: 500;
    padding: 4px 8px;
    width: 115px;
    display: inline-block;
}

.page .main .content .content_news_latest_date.News .content_news_latest_date_span:after {
    content: "Новость";
    background: #144e5a;
}

 .page .main .content .content_news_latest_date.News.Eng .content_news_latest_date_span:after {
    content: "News";
    background: #144e5a;
}

.page .main .content .content_news_latest_date.Tutorial .content_news_latest_date_span:after {
    content: "Руководство";
    background: #4ab27d;
}

.page .main .content .content_news_latest_date.Tutorial.Eng .content_news_latest_date_span:after {
    content: "Turtorial";
    background: #4ab27d;
}

.page .main .content .content_news_latest_date.FAQ .content_news_latest_date_span:after {
    content: "Ответ на вопрос";
    background: #8e8e8e;
}

.page .main .content .content_news_latest_date.FAQ.Eng .content_news_latest_date_span:after {
    content: "FAQ";
    background: #8e8e8e;
}

.page .main .content .content_subcription {
    margin: 30px 0;
    padding: 10px 8px;
    background: #93ebaa;
    font-size: 14px;
}

.page .main .content .subscribe {
    float: right;
    margin-top: -5px;
    width: 50%;
}

.page .main .content .subscribe_text_input {
    width: 100%;
    background-color: #FFF;
    border: none;
    padding: 5px 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.page .main .content .subscribe_image {
    margin-left: -23px;
    float:left;
    margin-top: 4px;
}

.page .main .content .content_subscription_border {
    border-bottom: 1px solid #000;
}


/*end content*/


@media screen and (max-width: 1100px) {
    .page .main .present_left_image {
        width: 100%;
        margin: 8px 0 0 0;
        float: left;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-repeat: no-repeat no-repeat;
        background-position: center center;
    }

    .page .main .present_left_h2 {
        float: left;
        text-align: center;
        margin: 0;
        padding: 12px 0;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .page .main .present_left_p {
        display: none;
    }

    .page .main .present_left_s {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .page .main .present_fluid_inner {
        margin-left: 674px;
    }
}