@charset "utf-8";

/* CSS Document */

.page { background: url(../Images/background.png) repeat-x; }

.page .main {
    background: url(../Images/backround_main.png) no-repeat;
    font-family: Corbel;
    margin: 0px auto;
    width: 1000px;
}

/*content*/

.page .main .content {
    background-color: #FFF;
    color: #2f2f2f;
    font-size: 14px;
    padding: 30px 19px 50px 19px;
}

.page .main .content .content_left {
    float: left;
    width: 619px;
}

.page .main .content .content_left h1 {
    color: #144e5a;
    font-size: 24px;
    margin-bottom: 15px;
}

.page .main .content .content_left .border {
    background-color: #000;
    height: 1px;
    width: 308px;
}

.page .main .content .content_left .content_left_h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
}

.page .main .content .content_left img {
    float: left;
    margin-right: 23px;
}

.page .main .content .content_left .warning {
    color: #f37021;
    font-weight: bold;
}

.page .main .content .content_left .li {
    list-style-image: url(../Images/li.png);
    margin-left: 16px;
}

.page .main .content .content_left .li .content_left_a { color: #249038; }

.page .main .content .content_right {
    float: left;
    margin-left: 33px;
    width: 310px;
}

.page .main .content .content_right .title { width: 307px; }

.page .main .content .content_right .title .title_left {
    background-color: #208e34;
    float: left;
    height: 37px;
    width: 21px;
}

.page .main .content .content_right .title .title_right {
    background-color: #144e5a;
    color: #a5d49e;
    float: left;
    font-size: 18px;
    font-weight: bold;
    height: 28px;
    padding-left: 10px;
    padding-top: 9px;
    width: 270px;
}

.page .main .content .content_right .p_title { font-size: 18px; }

.page .main .content .content_right .content_right_a { color: #249038; }
/*end content*/