@charset "utf-8";
/* CSS Document */
.page {
	background:url(../Images/background.png) repeat-x;
}
.page .main {
	/*font-family:Corbel;*/
	background: url(../Images/backround_main.png) no-repeat;
	margin:0px auto;
	width:1000px;
}

/*present*/
.page .main .present {
	display:block;
	position:relative;
	font-size:14px;
	color:#2f2f2f;
	padding-left:0px;
	padding-top:0px;
	float:left;
	margin-top:17px;
	margin-left:15px;
	width:585px;
	height:461px;
}

.page .main .present .present_img {
	width:585px;
	height:461px;
	position:absolute;
    border:none;
}

.page .main .present_left {
	color:#2f2f2f;
	display:block;
	float:left;
	position:relative;
	width:308px;
	height:148px;
	background-image:url(../Images/present_left.png);
	background-repeat:no-repeat;
	margin-left:17px;
	margin-right:22px;
	margin-top: 15px;
}
.page .main .present_left:hover {
	background:url(../Images/present_left_hover.png) no-repeat;
}
.page .main .present_left_image1 {
	position:absolute;
	top: -15px;
	background-image:url(../Images/present_left_img1.png);
	width:87px;
	height:87px;
}
.page .main .present_left_image2 {
	position:absolute;
	top: -15px;
	background-image:url(../Images/present_left_img2.png);
	width:87px;
	height:87px;
}
.page .main .present_left_image3 {
	position:absolute;
	top: -15px;
	background-image:url(../Images/present_left_img3.png);
	width:87px;
	height:87px;
}
.page .main .present_left_h2 {
	text-shadow: 0px 2px 1px #FFF;
	margin-left:100px;
	font-size:20px;
}
.page .main .present_left_p {
	line-height: 13px;
	margin-left:13px;
	font-size:14px;
	margin-right:15px;
}
.page .main .present_left_s {
	margin-left:180px;
	color:#144e5a;
	font-size:16px;
	font-style:italic;
	text-decoration:underline;
}	
/*end present*/
/*content*/
.page .main .content {
	margin-bottom:50px;
	padding-left:20px;
	padding-right:20px;
}
.page .main .content .content_sales {
	float:left;
	width:640px;
}
.page .main .content .content_best_sales {
	background-image:url(../Images/best_sales.png);
	background-repeat:no-repeat;
	background-position:left;
	color:#144e5a;
	font-size:24px;
	padding-left:57px;
	line-height:50px;
}
.page .main .content .content_best_sales span{
	padding-top:10px;
}
.page .main .content .content_best_sales_border {
	margin-top:10px;
	background-color:#000;
	border-bottom-width:1px;
	border-style:solid;
	width:310px;
}
.page .main .content .content_best_sales_description {
	height:129px;
	margin-top:20px;
	background-image:url(../Images/content_description.png);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:160px;
}
.page .main .content .content_best_sales_description_a {
	font-size:18px;
	color:#2f2f2f;
	text-decoration:underline;
}
.page .main .content .content_best_sales_description_p {
	margin-top:10px;
	font-size:14px;
	color:#2f2f2f;
}
.page .main .content .content_best_sales_description_see {
	color:#144e5a;
	text-decoration:underline;
	font-size:18px;
	font-style:italic;	
	margin-left:453px;
}
.page .main .content .content_best_sales_description .price {
	color:#eb6e0e;
	font-size:22px;
}
.page .main .content .content_news {
	float:left;
}
.page .main .content .content_news_latest {
	float:left;
	background-image:url(../Images/content_news.png);
	background-repeat:no-repeat;
	background-position:left;
	color:#144e5a;
	font-size:24px;
	padding-left:57px;
	line-height:50px;
}
.page .main .content .content_news_latest_rrs {
	background-image: url(../Images/content_news_latest_rrs.png);
	background-position: right;
	background-repeat: no-repeat;
	float: left;
	display: block;
	height: 50px;
	width: 102px;
}
.page .main .content .content_news_latest_border {
	margin-top:10px;
	background-color:#000;
	border-bottom-width:1px;
	border-style:solid;
}
.page .main .content .content_news_latest_date {
	width:308px;
	margin-top:20px;
}
.page .main .content .content_news_latest_date_span {
	display:block;
	color:#144e5a;
	font-size:18px;
	font-weight:bold;
}
.page .main .content .content_news_latest_date_a {
	display:block;
	color:#2f2f2f;
	font-size:18px;
	text-decoration:underline;
}
/*end content*/

