<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="SharePoint" type="NetPing.Global.Config.SharePointSettings, NetPing_modern" />
    <section name="confluence" type="NetPing_modern.Global.Config.ConfluenceSettings, NetPing_modern, Version=1.0.0.0, Culture=neutral" />
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>

    <!-- !!! Define site language  !!! -->
     <globalization uiCulture="en" culture="en"/> 
    <!--<globalization uiCulture="ru" culture="ru" />--> 

    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" /> 
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>

      <httpErrors errorMode="Custom" existingResponse="Replace">
          <remove statusCode="404" />
          <error statusCode="404" path="/Error/NotFound" responseMode="ExecuteURL" />
      </httpErrors>
      
    <validation validateIntegratedModeConfiguration="false" />
    
      <handlers>
          <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
          <remove name="OPTIONSVerbHandler" />
          <remove name="TRACEVerbHandler" />
          <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
        <rewrite>
               <rules>

                 <rule name="Add www" patternSyntax="ECMAScript" stopProcessing="true">
                   <match url=".*" />
                   <conditions>
                     <add input="{HTTP_HOST}" pattern="^netping.ru$" />
                   </conditions>
                   <action type="Redirect" url="http://www.netping.ru/{R:0}" redirectType="Permanent" />
                 </rule>

                 <rule name="ENG Add www" patternSyntax="ECMAScript" stopProcessing="true">
                   <match url=".*" />
                   <conditions>
                     <add input="{HTTP_HOST}" pattern="^netpingdevice.com$" />
                   </conditions>
                   <action type="Redirect" url="http://www.netpingdevice.com/{R:0}" redirectType="Permanent" />
                 </rule>
                 
                 <rule name="products/sensors" stopProcessing="true">
                   <match url="products/sensors" />
                   <action type="Redirect" url="/products/monitoring-servernoj/sensors" />
                 </rule>
                 <rule name="products/accessories" stopProcessing="true">
                   <match url="products/accessories" />
                   <action type="Redirect" url="/products/monitoring-servernoj/accessories" />
                 </rule>
                 <rule name="products/dlja-servernyh-komnat-i-6kafov" stopProcessing="true">
                   <match url="products/dlja-servernyh-komnat-i-6kafov" />
                   <action type="Redirect" url="/solutions/monitoring-servernoj/dlja-servernyh-komnat-i-6kafov" />
                 </rule>
                  <rule name="products/udaljonnoe-upravlenie-jelektropitaniem" stopProcessing="true">
                   <match url="products/udaljonnoe-upravlenie-jelektropitaniem" />
                   <action type="Redirect" url="/solutions/upravljaemye-rozetki-ip-pdu/udaljonnoe-upravlenie-jelektropitaniem" />
                 </rule>
                 <rule name="products/re6enija-na-osnove-POE" stopProcessing="true">
                   <match url="products/re6enija-na-osnove-POE" />
                   <action type="Redirect" url="/solutions/kommutatory-ethernet/re6enija-na-osnove-POE" />
                 </rule>

                 <rule name="about.aspx" stopProcessing="true">
                   <match url="about.aspx" />
                   <action type="Redirect" url="/about" />
                 </rule>
                 <rule name="contacts.aspx" stopProcessing="true">
                   <match url="contacts.aspx" />
                   <action type="Redirect" url="/contacts" />
                 </rule>
                 <rule name="dealer.aspx" stopProcessing="true">
                   <match url="dealer.aspx" />
                   <action type="Redirect" url="/buy/dealers" />
                 </rule>

                 <rule name="product sensor" stopProcessing="true">
                   <match url="products/sensors" />
                   <action type="Redirect" url="/products/monitoring-servernoj/sensors" />
                 </rule>
                 <rule name="product accessories" stopProcessing="true">
                   <match url="products/accessories" />
                   <action type="Redirect" url="/products/monitoring-servernoj/accessories" />
                 </rule>


                 <rule name="Products to default group" patternSyntax="ECMAScript" stopProcessing="true">
                   <match url="products(/)?$" />
                   <action type="Redirect" url="/products/monitoring-servernoj" />
                 </rule>


                 <rule name="catalog sensors base" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="catalog.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*sub=_acces_sensr*" />
                     <add input="{QUERY_STRING}" pattern="*id=_nping_bases*" />
                   </conditions>
                   <action type="Redirect" url="products/monitoring-servernoj/sensors" appendQueryString="false" />
                 </rule>
                 <rule name="catalog sensors power" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="catalog.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*sub=_acces_sensr*" />
                     <add input="{QUERY_STRING}" pattern="*id=_nping_power*" />
                   </conditions>
                   <action type="Redirect" url="products/upravljaemye-rozetki-ip-pdu/sensors" appendQueryString="false" />
                 </rule>

                 <rule name="catalog acces base" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="catalog.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*sub=_acces_mains*" />
                     <add input="{QUERY_STRING}" pattern="*id=_nping_bases*" />
                   </conditions>
                   <action type="Redirect" url="products/monitoring-servernoj/accessories" appendQueryString="false" />
                 </rule>
                 <rule name="catalog acces power" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="catalog.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*sub=_acces_mains*" />
                     <add input="{QUERY_STRING}" pattern="*id=_nping_power*" />
                   </conditions>
                   <action type="Redirect" url="products/upravljaemye-rozetki-ip-pdu/accessories" appendQueryString="false" />
                 </rule>
                 <rule name="catalog acces switch" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="catalog.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*sub=_acces_mains*" />
                     <add input="{QUERY_STRING}" pattern="*id=_swtch*" />
                   </conditions>
                   <action type="Redirect" url="products/kommutatory-ethernet/accessories" appendQueryString="false" />
                 </rule>
                 <rule name="catalog solut_sensors" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="catalog.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*sub=_solut_sensr*" />
                   </conditions>
                   <action type="Redirect" url="solutions/monitoring-servernoj/dlja-servernyh-komnat-i-6kafov" appendQueryString="false" />
                 </rule>
                 <rule name="catalog solut_power" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="catalog.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*sub=_solut_power*" />
                   </conditions>
                   <action type="Redirect" url="solutions/upravljaemye-rozetki-ip-pdu/udaljonnoe-upravlenie-jelektropitaniem" appendQueryString="false" />
                 </rule>
                 <rule name="catalog solut_POE" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="catalog.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*sub=_solut_poe*" />
                   </conditions>
                   <action type="Redirect" url="solutions/kommutatory-ethernet/re6enija-na-osnove-POE" appendQueryString="false" />
                 </rule>


                 <rule name="catalog base" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="catalog.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="id=_nping_bases" />
                   </conditions>
                   <action type="Redirect" url="/products/monitoring-servernoj" appendQueryString="false" />
                 </rule>
                 <rule name="catalog power" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="catalog.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="id=_nping_power" />
                   </conditions>
                   <action type="Redirect" url="/products/upravljaemye-rozetki-ip-pdu" appendQueryString="false" />
                 </rule>
                 <rule name="catalog switch" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="catalog.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="id=_swtch" />
                   </conditions>
                   <action type="Redirect" url="/products/kommutatory-ethernet" appendQueryString="false" />
                 </rule>
                 <rule name="catalog" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="catalog.aspx" />
                   <action type="Redirect" url="/products/monitoring-servernoj" appendQueryString="false" />
                 </rule>

                 <rule name="old device _nping_bases_DigiPing-v2" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="product_item.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*id=_nping_bases_DigiPing-v2*" />
                   </conditions>
                   <action type="Redirect" url="/products/uniping-v3" appendQueryString="false" />
                 </rule>
                 <rule name="old device _nping_bases_NetRS-E-v2" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="product_item.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*id=_nping_bases_NetRS-E-v2*" />
                   </conditions>
                   <action type="Redirect" url="/products/uniping-v3" appendQueryString="false" />
                 </rule>
                 <rule name="old device _nping_bases_TS-v2" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="product_item.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*_nping_bases_TS-v2*" />
                   </conditions>
                   <action type="Redirect" url="/products/uniping-v3" appendQueryString="false" />
                 </rule>
                 <rule name="old device _nping_bases_UniPing-rs232" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="product_item.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*_nping_bases_UniPing-rs232*" />
                   </conditions>
                   <action type="Redirect" url="/products/uniping-v3" appendQueryString="false" />
                 </rule>
                 <rule name="old device _nping_bases_UniPing-rs485" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="product_item.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*_nping_bases_UniPing-rs485*" />
                   </conditions>
                   <action type="Redirect" url="/products/uniping-v3" appendQueryString="false" />
                 </rule>
                 <rule name="old device _nping_power_10PWR-220" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="product_item.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*_nping_power_10PWR-220*" />
                   </conditions>
                   <action type="Redirect" url="/products/netping-8-pwr-220-v3-sms" appendQueryString="false" />
                 </rule>
                 <rule name="old device _nping_power_1KW_PWR220_v2" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="product_item.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*_nping_power_1KW_PWR220_v2*" />
                   </conditions>
                   <action type="Redirect" url="/products/netping-pwr-220-v3-eth" appendQueryString="false" />
                 </rule>
                 <rule name="old device _nping_power_2PWR-220" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="product_item.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*_nping_power_2PWR-220*" />
                   </conditions>
                   <action type="Redirect" url="/products/netping-2-pwr-220-v3-eth" appendQueryString="false" />
                 </rule>
                 <rule name="old device _nping_power_2PWR220_U-v2" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="product_item.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*_nping_power_2PWR220_U-v2*" />
                   </conditions>
                   <action type="Redirect" url="/products/netping-2-pwr-220-v3-eth" appendQueryString="false" />
                 </rule>
                 <rule name="old device _nping_power_5PWR-220" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="product_item.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*_nping_power_5PWR-220*" />
                   </conditions>
                   <action type="Redirect" url="/products/netping-8-pwr-220-v3-sms" appendQueryString="false" />
                 </rule>
                 <rule name="old device _nping_power_PWR220-500" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="product_item.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*_nping_power_PWR220-500*" />
                   </conditions>
                   <action type="Redirect" url="/products/netping-pwr-220-v3-eth" appendQueryString="false" />
                 </rule>
                 <rule name="old device_nping_power_PWR220-v2" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="product_item.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*_nping_power_PWR220-v2*" />
                   </conditions>
                   <action type="Redirect" url="/products/netping-pwr-220-v3-eth" appendQueryString="false" />
                 </rule>
                 <rule name="old device _nping_power_U_PWR220-v2" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="product_item.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*_nping_power_U_PWR220-v2*" />
                   </conditions>
                   <action type="Redirect" url="/products/netping-pwr-220-v3-eth" appendQueryString="false" />
                 </rule>
                 <rule name="old device _nping_power_v2_10PWR-220" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="product_item.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*_nping_power_v2_10PWR-220*" />
                   </conditions>
                   <action type="Redirect" url="/products/netping-8-pwr-220-v3-sms" appendQueryString="false" />
                 </rule>
                 <rule name="old device _nping_power_v2_5PWR-220" patternSyntax="Wildcard" stopProcessing="true">
                   <match url="product_item.aspx" />
                   <conditions>
                     <add input="{QUERY_STRING}" pattern="*_nping_power_v2_5PWR-220*" />
                   </conditions>
                   <action type="Redirect" url="/products/netping-8-pwr-220-v3-sms" appendQueryString="false" />
                 </rule>
                 
                 <rule name="Remove index.php" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="index.php" />
                    <action type="Redirect" url="/" />
                </rule>
                <rule name="Remove index.html" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="index.html" />
                    <action type="Redirect" url="/" />
                </rule>
                <rule name="Remove default.aspx" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="default.aspx" />
                    <action type="Redirect" url="/" />
                </rule> 
            </rules>
        </rewrite>
  </system.webServer>
  <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/Content/logs/${shortdate}" />
    <targets>
      <target name="fileLogTrace" xsi:type="File" fileName="${logDirectory}/trace.txt" />
      <target name="fileLogDebug" xsi:type="File" fileName="${logDirectory}/debug.txt" />
      <target name="fileLogInfo" xsi:type="File" fileName="${logDirectory}/info.txt" />
      <target name="fileLogErrors" xsi:type="File" fileName="${logDirectory}/errors.txt" />
      <target name="TcpOutlet" xsi:type="NLogViewer" address="tcp4://localhost:4505" />
    </targets>
    <rules>
      <logger name="*" level="Trace" writeTo="fileLogTrace" />
      <logger name="*" level="Debug" writeTo="fileLogDebug" />
      <logger name="*" level="Info" writeTo="fileLogInfo" />
      <logger name="*" minlevel="Warn" writeTo="fileLogErrors" />
    </rules>
  </nlog>
  <SharePoint SiteUrl="https://netpingeastcoltd.sharepoint.com/web/" Login="sharepoint@netping.ru" Password="RB33kasd61K" CacheTimeout="43200000" />
  <confluence Url="https://netping.atlassian.net" Login="TeamWork" Password="Mikr8922qp" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>